.one
{
  background-color: gray;
}

.para3
{
    color:white;
    font-size: small;
    font-family: century Gothic;
}

.center1
{
    color:#FF9933;
    font-size: large;
}
.center2
{
    color:white;
    font-size: medium;
}

.center3
{
    color:#138808;
    font-size: small;
}